.font-weight-bold{
	background-color: #33b5e5;
	padding: 10px 0;
	color: #fff;
	font-family: 'Raleway';
	font-weight: lighter;
	font-size: 20px;
}

.sbmt-btn{
	border:2px solid #ff4444;
	padding: 10px;
	margin-right:20px;
	margin-top:-8px;
	color: #fff;
	background-color: #fff;
	border-radius: 100%;
	opacity: 1;
	width: 5%;
}

.sbmt-btn-span{
	font-size: 20px; color: #ff4444;
}